.todo {
	@include display(flex);
	@include align-items(flex-end);
	white-space: nowrap;
	width: 100%;
}

.todo__text-input {
	border: none;
	background: none;

	&:focus,
	.is-completed &:focus {
		text-decoration: none;
	}

	.is-completed & {
		text-decoration: line-through;
	}
}

.todo__actions {
	 //
}