$font-family-sans-serif: 'Arial', sans-serif;
$font-family-serif: 'Georgia', 'Times', serif;
$font-family-monospace: 'PT Mono', 'Menlo', 'Consolas', 'Courier', monospace;
$font-family-display: 'HusansNormal', 'Arial', sans-serif;