body {
	position: relative; // NOTE: Fix alignment on absolute childeren (e.g. tooltips or notifications)
	overflow-x: hidden; // NOTE: Make sure there is no horizontal scroll bar in IE 11.
	min-width: 320px; // NOTE: Viewports with a smaller width will see a horizontal scrollbar
	color: $color-text;
	font-family: $font-family-sans-serif;
	font-size: $font-size-100;
	line-height: $line-height-100;

	@include media(0, $range-hand) {
		padding-top: 45px;
		padding-bottom: 51px;
		background-color: $color-white;
	}
	@include media($range-lap, false) {
		padding-top: 60px;
		background-color: $color-site-background;
	}
}
