<div class="todo"
	[ngClass]="{ 'is-completed': item.isCompleted }">
	<input class="todo__text-input"
		#todoText
		[formControl]="text"
		[attr.test-id]="'todo-input'"
		type="text"
		value="{{ item.text }}">
	<div class="todo__actions">
		<button class="todo__toggle-button button"
			type="button"
			[attr.test-id]="'toggle-button'"
			(click)="onToggle.emit(item.id)">
			<template [ngIf]="!item.isCompleted">Complete</template>
			<template [ngIf]="item.isCompleted">Uncomplete</template>
		</button>
		<button class="todo__delete-button button"
			type="button"
			(click)="onDelete.emit(item.id)">Delete
		</button>
	</div>
</div>